.parent1 {
	width: 100%;
	height: 100vh;
	background-color: red;
	display: flex;
	flex-direction: row;
}

.adjustable1 {
	flex: 1 1;
	background-color: aqua;
}

.adjustable2 {
	height: 100%;
	background-color: rgb(0, 171, 114);
}
